/* Reset and base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f6f1;
    color: #222222;
}
/* Header */
header {
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navbar */
.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */

.logo img {
    height: 40px;
    width: auto;
    display: block;
}
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Nav Links */

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a{
    text-decoration: none;
    color: #3B4D61;
    font-weight: 600;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #3498db;
}

/* Subscribe Button */

.subscribe-btn {
    background-color: #ffffffc0;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 0 10px #c0b4f3, 0 0 10px #eb93e3;
}

 .nav-links a.subscribe-btn:hover{
     color: #ffffff; /* Yellow glow font color */
    background-color: #63c1ff;
 }

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        padding: 1rem;
        display: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    .navbar.open .nav-links {
        display: flex;
    }
}

/* Hero Section */
.hero {
    background-image: url('../images/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

/* Dark Overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Content on top of the overlay */
.hero-content{ 
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 1rem;
}

.hero-content h1{
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.hero-btn {
    display: inline-block;
    background-color: #3498dbc2;
    color: white;
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 25px;
    transition: background 0.3s; 
}

.hero-btn:hover{
    background-color: #2980b9;
}

/* Blog Section */
.blog-section{
    padding: 4rem 2rem;
    background-color: #f9f6f1;
    text-align: center;
}

.section-title{
    font-size: 2.2rem;
    color: #3B4D61;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
}

/* Grid Layout */
.blog-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

/* Blog Card Styling */
.blog-card{
    background: #fdfdfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
    box-shadow: 10px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s;
}

.blog-card:hover{
    transform: translateY(-5px);
}

.blog-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-card h3{
    font-size: 1.5rem;
    padding: 1rem 1rem 0.5rem;
    color: #2c3e50;
}

.blog-card p{
    padding: 0 1rem 1rem;
    color: #555;
    font-size: 0.95rem;
}

.blog-card .read-more{
    display: inline-block;
    margin: 0 1rem 1.5rem;
    background-color: rgba(52, 152, 219, 0.8);
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.blog-card .read-more:hover{
    background-color: rgba(41, 128, 185, 0.9);
}

/* About Section */
.about-section{
    background-color: #fdfdfd;
    padding: 4rem 2rem;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex start;
}

/* Left Section */
.about-left{
    flex: 1 1 50%;
    min-width: 300px;
}

.about-left h2{
    font-size: 2rem;
    color: #3B4D61;
    margin-bottom: 1rem;
    font-size: 'Playfair Display', serif;
}

.about-left p{
    color: #444;
    font-size: 1rem;
    line-height: 1.8;
}

/* Right Section - Qoute Box */
.about-right{
    flex: 1 1 35%;
    min-height: 250px;
}

.qoute-box{
    background-color: #fff;
    padding: 1.5rem 1.8rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
}


.quote-box h3{
  font-size: 1.2rem;
  color: #3498db;
  margin-bottom: 1rem;
}

.quote-box p{
  font-style: italic;
  font-size: 1rem;
  color: #555;
}

/* Responsive Adjustment */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-left, .about-right {
    flex: 1 1 100%;
  }
}

/* Site Footer */
.site-footer{
    background-color: #3B4D61;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-content p{
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-links a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.social-links a:hover{
    color: #3498db;
}

/* Subscribe Page Style */

.subscribe-body{
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f1f6fa, #eaf4ff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.form-container{
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;    
}

.form-container h2{
    color: #3B4D61;
    margin-bottom: 1rem;
}

.form-container p{
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

.form-container input{
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.form-container button{
    background-color: #63c1ff;
    color: white;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container button:hover{
    background-color: #41b2fd;
}

/* Sign in using Social Links */
.or-divider{
    margin: 1.5rem 0;
    font-size: 0.9rem;
    color: #888;
    position: relative;
    text-align: center;
}

.or-divider::before,
.or-divider::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
}

.or-divider::before{
    left: 0;
}

.or-divider::after{
    right: 0;
}

.social-login{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.google-btn,
.facebook-btn{
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: background 0.3s ease;
}

.google-btn{
    background-color: #db4537;
}

.google-btn:hover{
    background-color: #c23321;
}

.facebook-btn{
    background-color: #3b5998;
}

.facebook-btn:hover{
    background-color: #2d3373;
}